<div class="marquee">
  <p>CUSTOMER INFORMATION</p>
  </div>
<div *ngIf="customerDetails && customerDetails.length > 0; else noData">
    <table class="table table-bordered" style="width:100%; border: 2px solid black;">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Customer ID</th>
          <th>Reservations</th>
          <th>Name</th>
          <th>EmailId</th>
          <th>Phone_number</th>
          <th>Preferences</th>
          <th>Payment history</th>
          <th>Check In Date</th>
          <th>Check Out Date</th>
          <th>Loyalty programs</th>
          <th>Inventory</th>
          <th>Inventory_price</th>
        </tr>
      </thead>
      <tbody>
       
        <tr *ngFor="let customer of customerDetails; let srno = index">

        <td>{{ srno + 1 }}</td>
        <td>{{ customer.CustomerID }}</td>

        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Reservations" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Reservations }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Name" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Name }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Email_Id" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Email_Id }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Phone_num" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Phone_num }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Preferences" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Preferences }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Payment_history" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Payment_history }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Check_In_Date" type="date" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Check_In_Date }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Check_Out_Date" type="date" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Check_Out_Date }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Loyalty_programs" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Loyalty_programs }}</td>

        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Inventory" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Inventory }}</td>
        <td *ngIf="editIndex === srno">
          <input [(ngModel)]="customer.Inventory_price" />
        </td>
        <td *ngIf="editIndex !== srno">{{ customer.Inventory_price }}</td>
    
  
          <!-- Editable Name -->
          
          <td>
            <button class="btn btn-primary btn-spacing" *ngIf="editIndex !== srno" (click)="enableEdit(srno)">Edit</button>
            <button class="btn btn-primary btn-spacing" (click)="updateCustomerDetails(customer)" >Save</button>
            <button class="btn btn-danger" (click)="deletecustomerDetails(customer.CustomerID)" >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noData>
    <p>No inventory data.</p>
  </ng-template>
  
  
  <style>
    .btn-spacing {
      margin-right: 10px; /* Add custom space between buttons */
    }
  </style>
  