  .btn-spacing {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  table input {
    width: 100%;
    box-sizing: border-box;
  }

  th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
