<div class="marquee">
<p>LOGIN TO MANAGE BOOKINGS AND STAFF</p>
</div>
<div class="col-4 mx-auto" style="margin-top: 5%;">
  <div class="card">
    <div class="card-header text-white text-center"  style="background-color: rgb(0, 79, 24);">
      <h4>Login</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="d-flex justify-content-center">
          <div class="w-100" style="max-width: 300px;">
            <div class="mb-3 text-start">
              <label for="username" class="form-label">Username:</label>
              <input
                type="text"
                id="username"
                class="form-control"
                placeholder="Enter username"
                name="username"
                [(ngModel)]="loginData.username"
                required
              />
            </div>
            <div class="mb-3 text-start">
              <label for="password" class="form-label">Password:</label>
              <input
                type="password"
                id="password"
                class="form-control"
                placeholder="Enter password"
                name="password"
                [(ngModel)]="loginData.password"
                required
              />
            </div>
            <div class="text-center">
              <button class="btn btn-primary w-100" type="submit" style="background-color: #743e15; border: solid;">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
