<div *ngIf="customerDetails && customerDetails.length > 0; else noData">
    <table class="table table-bordered" style="width:100%; border: 2px solid black;">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Customer ID</th>
          <th>Reservations</th>
          <th>Name</th>
          <th>EmailId</th>
          <th>Phone_number</th>
          <th>Preferences</th>
          <th>Payment history</th>
          <th>Check In Date</th>
          <th>Check Out Date</th>
          <th>Loyalty programs</th>
        </tr>
      </thead>
      <tbody>
       
        <tr *ngFor="let customer of customerDetails; let srno = index">
        <td>{{ srno + 1 }}</td>
        <td>{{ customer.CustomerID }}</td>
        <td>{{ customer.Reservations }}</td>
        <td>{{ customer.Name }}</td>
        <td>{{ customer.Email_Id }}</td>
        <td>{{ customer.Phone_num}}</td>
        <td>{{ customer.Preferences }}</td>
        <td>{{ customer.Payment_history }}</td>
        <td>{{ customer.Check_In_Date }}</td>
        <td>{{ customer.Check_Out_Date }}</td>
        <td>{{ customer.Loyalty_programs }}</td>

  
          <!-- Editable Name -->
          
          <td>
            <button class="btn btn-primary" >Edit</button>
            <button class="btn btn-danger"  >Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #noData>
    <p>No inventory data.</p>
  </ng-template>
  
  
  <style>
    .btn-spacing {
      margin-right: 10px; /* Add custom space between buttons */
    }
  </style>
  